/*——————————————————————————————时间轴————————————————————————————*/
.timeline_container{
	position:absolute;
	width:900px;
}

.timeline{
	display:inline-block;
	position:relative;
}

/* 播放、暂停 */
.autoplay,.pause{
	display:inline-block;
	margin:10px 0px 0px 55px;
	padding:0px 0px 0px 32px;
	color:#02ffda;
	line-height:28px;
	font-size:12px;
	vertical-align:top;
	transition: all 0.2s ease-out 0s;
	cursor:pointer;
}

.autoplay{
	background:url(../images/autoplay.png) no-repeat left center;
}

.pause{
	background:url(../images/pause.png) no-repeat left center;
}

.date_line{
	width:550px;
	height:60px;
	overflow:hidden;
}
.date_line_ul{
	list-style:none;
	margin:0px;
	padding:0px;
	position:relative;
	height:60px;
	white-space:nowrap;
}

.date_line:before{
	content:"";
	background-color: rgba(0,255,255,0.1);
	position:absolute;
	z-index:1;
	top:19px;
	left:0px;
	width:100%;
	height:1px;
}

/* 默认 */
.date_line_ul li{
	display:inline-block;
	width:110px;
	height:50px;
	padding:14px 0px 0px 0px;
	text-align:center;
	position: relative;
	cursor:pointer;
	transition: all 0.2s ease-out 0s;
	z-index:2;
}

.date_line_ul li .date_mark{
	width:10px;
	height:10px;
	background:#626c87;
	border-radius:16px;
	display:block;
	margin:0px auto;
}

.date_line_ul li .date_text{
	color:#626c87;
	font-size:14px;
	display:block;
	margin:10px 0px 0px 0px;
	line-height:22px;
}


/* 选中 */
.date_line_ul .date_select{}
.date_line_ul .date_select .date_mark{
	animation:localShine 2s linear infinite;
	background-color:rgba(0,255,255,1);
	box-shadow: 0px 0px 10px rgba(0,255,85,0.45);
}
.date_line_ul .date_select .date_text{
	font-size:18px;
	color:#00f0ff;
}

.date_focus{
	position:absolute;
	top:10px;
	width:150px;
	height:19px;
	background:url(../images/date_focus.png) no-repeat center center;
	background-size:contain;
	transition: all 0.4s ease-out 0s;
}

/* 上一页、下一页 */
/* 默认 */
.p_arrow, .n_arrow{
	cursor:pointer;
	width:31px;
	height:45px;
	background-position:center center;
	background-repeat:no-repeat;
	position:absolute;
	z-index:3;
	top:-3px;
	transform: scale(0.6);
}

.p_arrow{
	background-image:url(../images/arrow_left.png);
	left:-30px;
}
.n_arrow{
	background-image:url(../images/arrow_right.png);
	right:-30px;
}

/* 划过 */
.p_arrow:hover{
	background-image:url(../images/arrow_left_hover.png);
}
.n_arrow:hover{
	background-image:url(../images/arrow_right_hover.png);
}

@keyframes localShine { 
	from {
		box-shadow:0 0 0 0 rgba(0,255,85,0.2);
	}
	to { 
		box-shadow: 0 0 0 15px rgba(0,255,85,0); 
	}
}
/*——————————————————————————————时间轴————————————————————————————*/